:root {
  --primary-color: black;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

nav .navbar-brand {
  font-size: 50px;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

nav .navbar-brand:hover {
  transform: translateX(10px) scale(1.2);
  text-shadow: 0 5px 10px var(--secondary-color);
}

.navbar-nav {
  line-height: 2;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/white-flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 180px 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 100px;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 35px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.primary-link {
  border-radius: 4px;
  padding: 16px 32px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}

.project-link {
  padding: 16px 32px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}

.project-link:hover {
  color: var(--secondary-color);
}

.featured-projects-section p {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

footer .social-media {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 125px;
}

footer .social-media ul {
  list-style: none;
}

footer .social-media ul li:hover {
  cursor: pointer;
  transform: translateY(-20px) scale(1.2);
  text-shadow: 0 5px 10px var(--secondary-color);
}

footer .social-media h4 {
  margin: 50px;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

footer .credit-footer {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.project-section h2 {
  font-size: 35px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.project-section img:hover {
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.project-section h3 {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.about-section h3 {
  font-size: 47px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.about-section p {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 3;
}

.about-section .about-links {
  font-size: 17px;
  font-family: "Cinzel", serif;
  font-weight: 600;
  border-radius: 100px;
  padding: 16px 32px;
}

.skills-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.certificates-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.certificates-section img:hover {
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

@media (max-width: 576px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  .about-section p {
    font-size: 25px;
  }

  .about-section .about-links {
    padding: 10px 15px;
    margin: 15px;
  }

  .navigation-links a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .larger-navbar {
    display: none;
  }
}

@media (max-width: 992px) {
  .larger-paragraph {
    display: none;
  }
}
