:root {
  --primary-color: black;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/white-flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 180px 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 100px;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 35px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.primary-link {
  border-radius: 4px;
  padding: 16px 32px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.project-link {
  padding: 16px 32px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  color: white;
}
